In [1]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# we will limit the number of decimal places we display
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
datafile_name= "../Data/Data/uncleaned_data_csv.csv"
abt = pd.read_csv(datafile_name, index_col=0)


# look at the first few rows
abt.head(10)

,Country,City,Customer Name,Order ID,Postal Code,Region,Row ID,State,Top N Customer Label,Total Number of Customer_x,...,Profit Ratio,Quantity,Sales,Sales Per Customer,Total Number of Customer_y,Product ID_y,Product Name,Segment,Sub-Category,Number of Records
0,United States,Henderson,Claire Gute,CA-2013-152156,"42,420.00",South,1,Kentucky,Other,1.00,...,0.16,2.00,261.96,261.96,1,FUR-BO-10001798,Bush Somerset Collection Bookcase,Consumer,Bookcases,1.00
1,United States,Henderson,Claire Gute,CA-2013-152156,"42,420.00",South,2,Kentucky,Other,1.00,...,0.30,3.00,731.94,731.94,1,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Consumer,Chairs,1.00
2,United States,Los Angeles,Darrin Van Huff,CA-2013-138688,"90,036.00",West,3,California,Other,1.00,...,0.47,2.00,14.62,14.62,1,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Corporate,Labels,1.00
3,United States,Fort Lauderdale,Sean O'Donnell,US-2012-108966,"33,311.00",South,4,Florida,Other,1.00,...,-0.40,5.00,957.58,957.58,1,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,Consumer,Tables,1.00
4,United States,Fort Lauderdale,Sean O'Donnell,US-2012-108966,"33,311.00",South,5,Florida,Other,1.00,...,0.11,2.00,22.37,22.37,1,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,Consumer,Storage,1.00
5,United States,Los Angeles,Brosina Hoffman,CA-2011-115812,"90,032.00",West,6,California,Other,1.00,...,0.29,7.00,48.86,48.86,1,FUR-FU-10001487,Eldon Expressions Wood and Plastic Desk Access...,Consumer,Furnishings,1.00
6,United States,Los Angeles,Brosina Hoffman,CA-2011-115812,"90,032.00",West,7,California,Other,1.00,...,0.27,4.00,7.28,7.28,1,OFF-AR-10002833,Newell 322,Consumer,Art,1.00
7,United States,Los Angeles,Brosina Hoffman,CA-2011-115812,"90,032.00",West,8,California,Other,1.00,...,0.10,6.00,907.15,907.15,1,TEC-PH-10002275,Mitel 5320 IP Phone VoIP phone,Consumer,Phones,1.00
8,United States,Los Angeles,Brosina Hoffman,CA-2011-115812,"90,032.00",West,9,California,Other,1.00,...,0.31,3.00,18.50,18.50,1,OFF-BI-10003910,DXL Angle-View Binders with Locking Rings by S...,Consumer,Binders,1.00
9,United States,Los Angeles,Brosina Hoffman,CA-2011-115812,"90,032.00",West,10,California,Other,1.00,...,0.30,5.00,114.90,114.90,1,OFF-AP-10002892,Belkin F5C206VTEL 6 Outlet Surge,Consumer,Appliances,1.00

In [3]:
print(abt.columns)
print("\n Dataset has %d rows and %d columns" % abt.shape)

Index(['Country', 'City', 'Customer Name', 'Order ID', 'Postal Code', 'Region',
       'Row ID', 'State', 'Top N Customer Label', 'Total Number of Customer_x',
       'Order ID.1', 'Order Date', 'Product ID_x', 'Ship Date', 'Ship Mode',
       'Discount', 'Profit', 'Profit Ratio', 'Quantity', 'Sales',
       'Sales Per Customer', 'Total Number of Customer_y', 'Product ID_y',
       'Product Name', 'Segment', 'Sub-Category', 'Number of Records'],
      dtype='object')

 Dataset has 9994 rows and 27 columns

To check the type of the columns:

In [5]:
abt.dtypes

Country                        object
City                           object
Customer Name                  object
Order ID                       object
Postal Code                   float64
Region                         object
Row ID                          int64
State                          object
Top N Customer Label           object
Total Number of Customer_x    float64
Order ID.1                     object
Order Date                     object
Product ID_x                   object
Ship Date                      object
Ship Mode                      object
Discount                      float64
Profit                        float64
Profit Ratio                  float64
Quantity                      float64
Sales                         float64
Sales Per Customer            float64
Total Number of Customer_y      int64
Product ID_y                   object
Product Name                   object
Segment                        object
Sub-Category                   object
Number of Records             float64
dtype: object

# Check for OUTLIERS in the numeric columns in the data

In [7]:
#display numeric columns
abt.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Postal Code,"9,985.00","55,170.04","32,065.00","1,040.00","23,223.00","55,901.00","90,008.00","99,301.00"
Row ID,"9,994.00","4,997.50","2,885.16",1.00,"2,499.25","4,997.50","7,495.75","9,994.00"
Total Number of Customer_x,"9,985.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
Discount,"9,990.00",0.16,0.21,0.00,0.00,0.20,0.20,0.80
Profit,"9,994.00",28.66,234.26,"-6,599.98",1.73,8.67,29.36,"8,399.98"
Profit Ratio,"9,994.00",0.12,0.47,-2.75,0.07,0.27,0.36,0.50
Quantity,"9,992.00",3.79,2.22,1.00,2.00,3.00,5.00,14.00
Sales,"9,994.00",229.86,623.25,0.44,17.28,54.49,209.94,"22,638.48"
Sales Per Customer,"9,994.00",229.86,623.25,0.44,17.28,54.49,209.94,"22,638.48"
Total Number of Customer_y,"9,994.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00
Number of Records,"9,990.00",1.00,0.00,1.00,1.00,1.00,1.00,1.00

In [8]:
#display categorical columns
abt.select_dtypes(include=[object]).describe().transpose()

                     count unique                  top  freq
Country               9984      1        United States  9984
City                  9994    531        New York City   915
Customer Name         9994    793        William Brown    37
Order ID              9994   5009       CA-2014-100111    14
Region                9994      4                 West  3203
State                 9994     49           California  2001
Top N Customer Label  9992      2                Other  9604
Order ID.1            9994   5009       CA-2014-100111    14
Order Date            9994   1237  2015-06-09 00:00:00    38
Product ID_x          9994   1862      OFF-PA-10001970    19
Ship Date             9994   1334           12/16/2014    35
Ship Mode             9992      4       Standard Class  5966
Product ID_y          9994   1862      OFF-PA-10001970    19
Product Name          9983   1850      Staple envelope    48
Segment               9988      3             Consumer  5188
Sub-Category          9994     17              Binders  1523

In [10]:
numeric_description = abt.select_dtypes(include=[np.number]).describe().transpose()
numeric_description[["min","max"]]

                                 min       max
Postal Code                 1,040.00 99,301.00
Row ID                          1.00  9,994.00
Total Number of Customer_x      1.00      1.00
Discount                        0.00      0.80
Profit                     -6,599.98  8,399.98
Profit Ratio                   -2.75      0.50
Quantity                        1.00     14.00
Sales                           0.44 22,638.48
Sales Per Customer              0.44 22,638.48
Total Number of Customer_y      1.00      1.00
Number of Records               1.00      1.00

# Fix any issues with numeric columns containing outlying values

In [12]:
# specify a lower threshold
abt["Profit Ratio"] = abt["Profit Ratio"].clip(lower=0)

# check the range now
abt["Profit Ratio"].describe()

count   9,994.00
mean        0.24
std         0.17
min         0.00
25%         0.07
50%         0.27
75%         0.36
max         0.50
Name: Profit Ratio, dtype: float64

In [13]:
# specify a lower threshold
abt["Profit"] = abt["Profit"].clip(lower=0)

# check the range now
abt["Profit"].describe()

count   9,994.00
mean       44.28
std       193.12
min         0.00
25%         1.73
50%         8.67
75%        29.36
max     8,399.98
Name: Profit, dtype: float64

# Check for irregular cardinality in the categorical columns in the data:

In [15]:
# get the categorical variables
abt.select_dtypes(include=[object]).describe().transpose()

                     count unique                  top  freq
Country               9984      1        United States  9984
City                  9994    531        New York City   915
Customer Name         9994    793        William Brown    37
Order ID              9994   5009       CA-2014-100111    14
Region                9994      4                 West  3203
State                 9994     49           California  2001
Top N Customer Label  9992      2                Other  9604
Order ID.1            9994   5009       CA-2014-100111    14
Order Date            9994   1237  2015-06-09 00:00:00    38
Product ID_x          9994   1862      OFF-PA-10001970    19
Ship Date             9994   1334           12/16/2014    35
Ship Mode             9992      4       Standard Class  5966
Product ID_y          9994   1862      OFF-PA-10001970    19
Product Name          9983   1850      Staple envelope    48
Segment               9988      3             Consumer  5188
Sub-Category          9994     17              Binders  1523

In [16]:
abt["Ship Mode"].value_counts()

Ship Mode
Standard Class    5966
Second Class      1945
First Class       1538
Same Day           543
Name: count, dtype: int64

In [17]:
abt["Segment"].value_counts()

Segment
Consumer       5188
Corporate      3018
Home Office    1782
Name: count, dtype: int64

In [18]:
abt["Top N Customer Label"].value_counts()

Top N Customer Label
Other               9604
Top 20 Customers     388
Name: count, dtype: int64

In [19]:
abt["Region"].value_counts()

Region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

In [20]:
abt["Country"].value_counts()

Country
United States    9984
Name: count, dtype: int64

CONCLUSION: We don't have any IRREGULAR CARDINALITY

# Check for presence of missing values in each column:

In [23]:
abt.isnull().sum()

Country                       10
City                           0
Customer Name                  0
Order ID                       0
Postal Code                    9
Region                         0
Row ID                         0
State                          0
Top N Customer Label           2
Total Number of Customer_x     9
Order ID.1                     0
Order Date                     0
Product ID_x                   0
Ship Date                      0
Ship Mode                      2
Discount                       4
Profit                         0
Profit Ratio                   0
Quantity                       2
Sales                          0
Sales Per Customer             0
Total Number of Customer_y     0
Product ID_y                   0
Product Name                  11
Segment                        6
Sub-Category                   0
Number of Records              4
dtype: int64

10 columns need to be cleaned (delete or fill) : Country, Postal Code, Top N Customer Label, Total Number of Customer_x, Ship_Mode, Discount, Quantity, Product Name, Segment, Number of Records

In [24]:
abt["Country"].value_counts()

Country
United States    9984
Name: count, dtype: int64

In [25]:
#fill the missing value in the column country

abt["Country"]=abt["Country"].fillna("United States")

In [26]:
#fill the missing value in the column Postal Code

city_to_zip = dict()
for i in abt.index:
    if pd.notna(abt.loc[i, "Postal Code"]):
        city_to_zip[abt.loc[i, "City"]] = abt.loc[i, "Postal Code"]
for i in abt.index:
    if pd.isna(abt.loc[i, "Postal Code"]):
        abt.loc[i, "Postal Code"] = city_to_zip.get(abt.loc[i, "City"])
display(abt)

,Country,City,Customer Name,Order ID,Postal Code,Region,Row ID,State,Top N Customer Label,Total Number of Customer_x,...,Profit Ratio,Quantity,Sales,Sales Per Customer,Total Number of Customer_y,Product ID_y,Product Name,Segment,Sub-Category,Number of Records
0,United States,Henderson,Claire Gute,CA-2013-152156,"42,420.00",South,1,Kentucky,Other,1.00,...,0.16,2.00,261.96,261.96,1,FUR-BO-10001798,Bush Somerset Collection Bookcase,Consumer,Bookcases,1.00
1,United States,Henderson,Claire Gute,CA-2013-152156,"42,420.00",South,2,Kentucky,Other,1.00,...,0.30,3.00,731.94,731.94,1,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Consumer,Chairs,1.00
2,United States,Los Angeles,Darrin Van Huff,CA-2013-138688,"90,036.00",West,3,California,Other,1.00,...,0.47,2.00,14.62,14.62,1,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Corporate,Labels,1.00
3,United States,Fort Lauderdale,Sean O'Donnell,US-2012-108966,"33,311.00",South,4,Florida,Other,1.00,...,0.00,5.00,957.58,957.58,1,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,Consumer,Tables,1.00
4,United States,Fort Lauderdale,Sean O'Donnell,US-2012-108966,"33,311.00",South,5,Florida,Other,1.00,...,0.11,2.00,22.37,22.37,1,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,Consumer,Storage,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,United States,Miami,Tom Boeckenhauer,CA-2011-110422,"33,180.00",South,9990,Florida,Other,1.00,...,0.16,3.00,25.25,25.25,1,FUR-FU-10001889,Ultra Door Pull Handle,Consumer,Furnishings,1.00
9990,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9991,California,Other,1.00,...,0.17,2.00,91.96,91.96,1,FUR-FU-10000747,Tenex B1-RE Series Chair Mats for Low Pile Car...,Consumer,Furnishings,1.00
9991,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9992,California,Other,1.00,...,0.07,2.00,258.58,258.58,1,TEC-PH-10003645,Aastra 57i VoIP phone,Consumer,Phones,1.00
9992,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9993,California,Other,1.00,...,0.45,4.00,29.60,29.60,1,OFF-PA-10004041,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",Consumer,Paper,1.00
9993,United States,Westminster,Chris Cortes,CA-2014-119914,"92,683.00",West,9994,California,Other,1.00,...,0.30,2.00,243.16,243.16,1,OFF-AP-10002684,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",Consumer,Appliances,1.00

In [27]:
#fill the missing value in the column Top N Customer Label

city_to_zip = dict()
for i in abt.index:
    if pd.notna(abt.loc[i, "Top N Customer Label"]):
        city_to_zip[abt.loc[i, "Customer Name"]] = abt.loc[i, "Top N Customer Label"]
for i in abt.index:
    if pd.isna(abt.loc[i, "Top N Customer Label"]):
        abt.loc[i, "Top N Customer Label"] = city_to_zip.get(abt.loc[i, "Customer Name"])

In [28]:

# drop rows where "Total Number of Customer_x", "Total Number of Customer_y","Number of Records" is missing
abt=abt.drop(["Total Number of Customer_x", "Total Number of Customer_y","Number of Records"], axis=1)
abt

,Country,City,Customer Name,Order ID,Postal Code,Region,Row ID,State,Top N Customer Label,Order ID.1,...,Discount,Profit,Profit Ratio,Quantity,Sales,Sales Per Customer,Product ID_y,Product Name,Segment,Sub-Category
0,United States,Henderson,Claire Gute,CA-2013-152156,"42,420.00",South,1,Kentucky,Other,CA-2013-152156,...,0.00,41.91,0.16,2.00,261.96,261.96,FUR-BO-10001798,Bush Somerset Collection Bookcase,Consumer,Bookcases
1,United States,Henderson,Claire Gute,CA-2013-152156,"42,420.00",South,2,Kentucky,Other,CA-2013-152156,...,0.00,219.58,0.30,3.00,731.94,731.94,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Consumer,Chairs
2,United States,Los Angeles,Darrin Van Huff,CA-2013-138688,"90,036.00",West,3,California,Other,CA-2013-138688,...,0.00,6.87,0.47,2.00,14.62,14.62,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Corporate,Labels
3,United States,Fort Lauderdale,Sean O'Donnell,US-2012-108966,"33,311.00",South,4,Florida,Other,US-2012-108966,...,0.45,0.00,0.00,5.00,957.58,957.58,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,Consumer,Tables
4,United States,Fort Lauderdale,Sean O'Donnell,US-2012-108966,"33,311.00",South,5,Florida,Other,US-2012-108966,...,0.20,2.52,0.11,2.00,22.37,22.37,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,Consumer,Storage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,United States,Miami,Tom Boeckenhauer,CA-2011-110422,"33,180.00",South,9990,Florida,Other,CA-2011-110422,...,0.20,4.10,0.16,3.00,25.25,25.25,FUR-FU-10001889,Ultra Door Pull Handle,Consumer,Furnishings
9990,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9991,California,Other,CA-2014-121258,...,0.00,15.63,0.17,2.00,91.96,91.96,FUR-FU-10000747,Tenex B1-RE Series Chair Mats for Low Pile Car...,Consumer,Furnishings
9991,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9992,California,Other,CA-2014-121258,...,0.20,19.39,0.07,2.00,258.58,258.58,TEC-PH-10003645,Aastra 57i VoIP phone,Consumer,Phones
9992,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9993,California,Other,CA-2014-121258,...,0.00,13.32,0.45,4.00,29.60,29.60,OFF-PA-10004041,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",Consumer,Paper
9993,United States,Westminster,Chris Cortes,CA-2014-119914,"92,683.00",West,9994,California,Other,CA-2014-119914,...,0.00,72.95,0.30,2.00,243.16,243.16,OFF-AP-10002684,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",Consumer,Appliances

In [29]:
abt.shape

(9994, 24)

In [30]:
#fill the missing value in the column ship Mode

segment_mapping = abt.dropna(subset=['Ship Mode'])[['Order ID', 'Ship Mode']].drop_duplicates().set_index('Order ID')['Ship Mode'].to_dict()

def fill_segment(row):
    if pd.isna(row['Ship Mode']):
        OrderID = row['Order ID']
        return segment_mapping.get(OrderID, None)  # Fill with corresponding Ship Mode if found, else None
    return row['Ship Mode']

abt['Ship Mode'] = abt.apply(fill_segment, axis=1)

In [31]:
#fill the missing value in the column Discount based on mean value

abt["Discount"]=abt["Discount"].fillna(abt["Discount"].mean())
print(abt)

            Country             City     Customer Name        Order ID  \
0     United States        Henderson       Claire Gute  CA-2013-152156
1     United States        Henderson       Claire Gute  CA-2013-152156
2     United States      Los Angeles   Darrin Van Huff  CA-2013-138688
3     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
4     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
...             ...              ...               ...             ...
9989  United States            Miami  Tom Boeckenhauer  CA-2011-110422
9990  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9991  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9992  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9993  United States      Westminster      Chris Cortes  CA-2014-119914

      Postal Code Region  Row ID       State Top N Customer Label  \
0       42,420.00  South       1    Kentucky                Other
1       42,420.00  South       2    Kentucky                Other
2       90,036.00   West       3  California                Other
3       33,311.00  South       4     Florida                Other
4       33,311.00  South       5     Florida                Other
...           ...    ...     ...         ...                  ...
9989    33,180.00  South    9990     Florida                Other
9990    92,627.00   West    9991  California                Other
9991    92,627.00   West    9992  California                Other
9992    92,627.00   West    9993  California                Other
9993    92,683.00   West    9994  California                Other

          Order ID.1  ... Discount Profit Profit Ratio Quantity  Sales  \
0     CA-2013-152156  ...     0.00  41.91         0.16     2.00 261.96
1     CA-2013-152156  ...     0.00 219.58         0.30     3.00 731.94
2     CA-2013-138688  ...     0.00   6.87         0.47     2.00  14.62
3     US-2012-108966  ...     0.45   0.00         0.00     5.00 957.58
4     US-2012-108966  ...     0.20   2.52         0.11     2.00  22.37
...              ...  ...      ...    ...          ...      ...    ...
9989  CA-2011-110422  ...     0.20   4.10         0.16     3.00  25.25
9990  CA-2014-121258  ...     0.00  15.63         0.17     2.00  91.96
9991  CA-2014-121258  ...     0.20  19.39         0.07     2.00 258.58
9992  CA-2014-121258  ...     0.00  13.32         0.45     4.00  29.60
9993  CA-2014-119914  ...     0.00  72.95         0.30     2.00 243.16

      Sales Per Customer     Product ID_y  \
0                 261.96  FUR-BO-10001798
1                 731.94  FUR-CH-10000454
2                  14.62  OFF-LA-10000240
3                 957.58  FUR-TA-10000577
4                  22.37  OFF-ST-10000760
...                  ...              ...
9989               25.25  FUR-FU-10001889
9990               91.96  FUR-FU-10000747
9991              258.58  TEC-PH-10003645
9992               29.60  OFF-PA-10004041
9993              243.16  OFF-AP-10002684

                                           Product Name    Segment  \
0                     Bush Somerset Collection Bookcase   Consumer
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   Consumer
2     Self-Adhesive Address Labels for Typewriters b...  Corporate
3         Bretford CR4500 Series Slim Rectangular Table   Consumer
4                        Eldon Fold 'N Roll Cart System   Consumer
...                                                 ...        ...
9989                             Ultra Door Pull Handle   Consumer
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   Consumer
9991                              Aastra 57i VoIP phone   Consumer
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   Consumer
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...   Consumer

      Sub-Category
0        Bookcases
1           Chairs
2           Labels
3           Tables
4          Storage
...            ...
9989   Furnishings
9990   Furnishings
9991        Phones
9992         Paper
9993    Appliances

[9994 rows x 24 columns]

In [32]:
#fill the missing value in the column Quantity based on mean value

abt["Quantity"]=abt["Quantity"].fillna(abt["Quantity"].mean())
print(abt)

            Country             City     Customer Name        Order ID  \
0     United States        Henderson       Claire Gute  CA-2013-152156
1     United States        Henderson       Claire Gute  CA-2013-152156
2     United States      Los Angeles   Darrin Van Huff  CA-2013-138688
3     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
4     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
...             ...              ...               ...             ...
9989  United States            Miami  Tom Boeckenhauer  CA-2011-110422
9990  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9991  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9992  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9993  United States      Westminster      Chris Cortes  CA-2014-119914

      Postal Code Region  Row ID       State Top N Customer Label  \
0       42,420.00  South       1    Kentucky                Other
1       42,420.00  South       2    Kentucky                Other
2       90,036.00   West       3  California                Other
3       33,311.00  South       4     Florida                Other
4       33,311.00  South       5     Florida                Other
...           ...    ...     ...         ...                  ...
9989    33,180.00  South    9990     Florida                Other
9990    92,627.00   West    9991  California                Other
9991    92,627.00   West    9992  California                Other
9992    92,627.00   West    9993  California                Other
9993    92,683.00   West    9994  California                Other

          Order ID.1  ... Discount Profit Profit Ratio Quantity  Sales  \
0     CA-2013-152156  ...     0.00  41.91         0.16     2.00 261.96
1     CA-2013-152156  ...     0.00 219.58         0.30     3.00 731.94
2     CA-2013-138688  ...     0.00   6.87         0.47     2.00  14.62
3     US-2012-108966  ...     0.45   0.00         0.00     5.00 957.58
4     US-2012-108966  ...     0.20   2.52         0.11     2.00  22.37
...              ...  ...      ...    ...          ...      ...    ...
9989  CA-2011-110422  ...     0.20   4.10         0.16     3.00  25.25
9990  CA-2014-121258  ...     0.00  15.63         0.17     2.00  91.96
9991  CA-2014-121258  ...     0.20  19.39         0.07     2.00 258.58
9992  CA-2014-121258  ...     0.00  13.32         0.45     4.00  29.60
9993  CA-2014-119914  ...     0.00  72.95         0.30     2.00 243.16

      Sales Per Customer     Product ID_y  \
0                 261.96  FUR-BO-10001798
1                 731.94  FUR-CH-10000454
2                  14.62  OFF-LA-10000240
3                 957.58  FUR-TA-10000577
4                  22.37  OFF-ST-10000760
...                  ...              ...
9989               25.25  FUR-FU-10001889
9990               91.96  FUR-FU-10000747
9991              258.58  TEC-PH-10003645
9992               29.60  OFF-PA-10004041
9993              243.16  OFF-AP-10002684

                                           Product Name    Segment  \
0                     Bush Somerset Collection Bookcase   Consumer
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   Consumer
2     Self-Adhesive Address Labels for Typewriters b...  Corporate
3         Bretford CR4500 Series Slim Rectangular Table   Consumer
4                        Eldon Fold 'N Roll Cart System   Consumer
...                                                 ...        ...
9989                             Ultra Door Pull Handle   Consumer
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   Consumer
9991                              Aastra 57i VoIP phone   Consumer
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   Consumer
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...   Consumer

      Sub-Category
0        Bookcases
1           Chairs
2           Labels
3           Tables
4          Storage
...            ...
9989   Furnishings
9990   Furnishings
9991        Phones
9992         Paper
9993    Appliances

[9994 rows x 24 columns]

In [33]:
#fill the missing item in the Product Name

abt["Product Name"]=abt["Product Name"].fillna("Not available")
print(abt)

            Country             City     Customer Name        Order ID  \
0     United States        Henderson       Claire Gute  CA-2013-152156
1     United States        Henderson       Claire Gute  CA-2013-152156
2     United States      Los Angeles   Darrin Van Huff  CA-2013-138688
3     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
4     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
...             ...              ...               ...             ...
9989  United States            Miami  Tom Boeckenhauer  CA-2011-110422
9990  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9991  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9992  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9993  United States      Westminster      Chris Cortes  CA-2014-119914

      Postal Code Region  Row ID       State Top N Customer Label  \
0       42,420.00  South       1    Kentucky                Other
1       42,420.00  South       2    Kentucky                Other
2       90,036.00   West       3  California                Other
3       33,311.00  South       4     Florida                Other
4       33,311.00  South       5     Florida                Other
...           ...    ...     ...         ...                  ...
9989    33,180.00  South    9990     Florida                Other
9990    92,627.00   West    9991  California                Other
9991    92,627.00   West    9992  California                Other
9992    92,627.00   West    9993  California                Other
9993    92,683.00   West    9994  California                Other

          Order ID.1  ... Discount Profit Profit Ratio Quantity  Sales  \
0     CA-2013-152156  ...     0.00  41.91         0.16     2.00 261.96
1     CA-2013-152156  ...     0.00 219.58         0.30     3.00 731.94
2     CA-2013-138688  ...     0.00   6.87         0.47     2.00  14.62
3     US-2012-108966  ...     0.45   0.00         0.00     5.00 957.58
4     US-2012-108966  ...     0.20   2.52         0.11     2.00  22.37
...              ...  ...      ...    ...          ...      ...    ...
9989  CA-2011-110422  ...     0.20   4.10         0.16     3.00  25.25
9990  CA-2014-121258  ...     0.00  15.63         0.17     2.00  91.96
9991  CA-2014-121258  ...     0.20  19.39         0.07     2.00 258.58
9992  CA-2014-121258  ...     0.00  13.32         0.45     4.00  29.60
9993  CA-2014-119914  ...     0.00  72.95         0.30     2.00 243.16

      Sales Per Customer     Product ID_y  \
0                 261.96  FUR-BO-10001798
1                 731.94  FUR-CH-10000454
2                  14.62  OFF-LA-10000240
3                 957.58  FUR-TA-10000577
4                  22.37  OFF-ST-10000760
...                  ...              ...
9989               25.25  FUR-FU-10001889
9990               91.96  FUR-FU-10000747
9991              258.58  TEC-PH-10003645
9992               29.60  OFF-PA-10004041
9993              243.16  OFF-AP-10002684

                                           Product Name    Segment  \
0                     Bush Somerset Collection Bookcase   Consumer
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   Consumer
2     Self-Adhesive Address Labels for Typewriters b...  Corporate
3         Bretford CR4500 Series Slim Rectangular Table   Consumer
4                        Eldon Fold 'N Roll Cart System   Consumer
...                                                 ...        ...
9989                             Ultra Door Pull Handle   Consumer
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   Consumer
9991                              Aastra 57i VoIP phone   Consumer
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   Consumer
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...   Consumer

      Sub-Category
0        Bookcases
1           Chairs
2           Labels
3           Tables
4          Storage
...            ...
9989   Furnishings
9990   Furnishings
9991        Phones
9992         Paper
9993    Appliances

[9994 rows x 24 columns]

In [34]:
abt = abt.T.drop_duplicates().T
print(abt)

            Country             City     Customer Name        Order ID  \
0     United States        Henderson       Claire Gute  CA-2013-152156
1     United States        Henderson       Claire Gute  CA-2013-152156
2     United States      Los Angeles   Darrin Van Huff  CA-2013-138688
3     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
4     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
...             ...              ...               ...             ...
9989  United States            Miami  Tom Boeckenhauer  CA-2011-110422
9990  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9991  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9992  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9993  United States      Westminster      Chris Cortes  CA-2014-119914

     Postal Code Region Row ID       State Top N Customer Label  \
0      42,420.00  South      1    Kentucky                Other
1      42,420.00  South      2    Kentucky                Other
2      90,036.00   West      3  California                Other
3      33,311.00  South      4     Florida                Other
4      33,311.00  South      5     Florida                Other
...          ...    ...    ...         ...                  ...
9989   33,180.00  South   9990     Florida                Other
9990   92,627.00   West   9991  California                Other
9991   92,627.00   West   9992  California                Other
9992   92,627.00   West   9993  California                Other
9993   92,683.00   West   9994  California                Other

               Order Date  ...            Ship Date       Ship Mode Discount  \
0     2015-09-11 00:00:00  ...  2015-12-11 00:00:00    Second Class     0.00
1     2015-09-11 00:00:00  ...  2015-12-11 00:00:00    Second Class     0.00
2               6/13/2015  ...            6/17/2015    Second Class     0.00
3     2014-11-10 00:00:00  ...           10/18/2014  Standard Class     0.45
4     2014-11-10 00:00:00  ...           10/18/2014  Standard Class     0.20
...                   ...  ...                  ...             ...      ...
9989            1/21/2013  ...            1/23/2013    Second Class     0.20
9990            2/27/2016  ...  2016-03-03 00:00:00  Standard Class     0.00
9991            2/27/2016  ...  2016-03-03 00:00:00  Standard Class     0.20
9992            2/27/2016  ...  2016-03-03 00:00:00  Standard Class     0.00
9993  2016-04-05 00:00:00  ...  2016-09-05 00:00:00    Second Class     0.00

     Profit Profit Ratio Quantity  Sales  \
0     41.91         0.16     2.00 261.96
1    219.58         0.30     3.00 731.94
2      6.87         0.47     2.00  14.62
3      0.00         0.00     5.00 957.58
4      2.52         0.11     2.00  22.37
...     ...          ...      ...    ...
9989   4.10         0.16     3.00  25.25
9990  15.63         0.17     2.00  91.96
9991  19.39         0.07     2.00 258.58
9992  13.32         0.45     4.00  29.60
9993  72.95         0.30     2.00 243.16

                                           Product Name    Segment  \
0                     Bush Somerset Collection Bookcase   Consumer
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   Consumer
2     Self-Adhesive Address Labels for Typewriters b...  Corporate
3         Bretford CR4500 Series Slim Rectangular Table   Consumer
4                        Eldon Fold 'N Roll Cart System   Consumer
...                                                 ...        ...
9989                             Ultra Door Pull Handle   Consumer
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   Consumer
9991                              Aastra 57i VoIP phone   Consumer
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   Consumer
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...   Consumer

     Sub-Category
0       Bookcases
1          Chairs
2          Labels
3          Tables
4         Storage
...           ...
9989  Furnishings
9990  Furnishings
9991       Phones
9992        Paper
9993   Appliances

[9994 rows x 21 columns]

In [35]:
abt.columns

Index(['Country', 'City', 'Customer Name', 'Order ID', 'Postal Code', 'Region',
       'Row ID', 'State', 'Top N Customer Label', 'Order Date', 'Product ID_x',
       'Ship Date', 'Ship Mode', 'Discount', 'Profit', 'Profit Ratio',
       'Quantity', 'Sales', 'Product Name', 'Segment', 'Sub-Category'],
      dtype='object')

In [36]:
abt.isnull().sum()

Country                 0
City                    0
Customer Name           0
Order ID                0
Postal Code             0
Region                  0
Row ID                  0
State                   0
Top N Customer Label    0
Order Date              0
Product ID_x            0
Ship Date               0
Ship Mode               0
Discount                0
Profit                  0
Profit Ratio            0
Quantity                0
Sales                   0
Product Name            0
Segment                 6
Sub-Category            0
dtype: int64

In [37]:
abt.columns

Index(['Country', 'City', 'Customer Name', 'Order ID', 'Postal Code', 'Region',
       'Row ID', 'State', 'Top N Customer Label', 'Order Date', 'Product ID_x',
       'Ship Date', 'Ship Mode', 'Discount', 'Profit', 'Profit Ratio',
       'Quantity', 'Sales', 'Product Name', 'Segment', 'Sub-Category'],
      dtype='object')

In [38]:
abt.shape

(9994, 21)

In [39]:
segment_mapping = abt.dropna(subset=['Segment'])[['Sub-Category', 'Segment']].drop_duplicates().set_index('Sub-Category')['Segment'].to_dict()

# Step 2: Fill missing values in Segment based on the Sub-category
def fill_segment(row):
    if pd.isna(row['Segment']):
        sub_category = row['Sub-Category']
        return segment_mapping.get(sub_category, None)  # Fill with corresponding Segment if found, else None
    return row['Segment']

abt['Segment'] = abt.apply(fill_segment, axis=1)

In [40]:
abt.isnull().sum()

Country                 0
City                    0
Customer Name           0
Order ID                0
Postal Code             0
Region                  0
Row ID                  0
State                   0
Top N Customer Label    0
Order Date              0
Product ID_x            0
Ship Date               0
Ship Mode               0
Discount                0
Profit                  0
Profit Ratio            0
Quantity                0
Sales                   0
Product Name            0
Segment                 0
Sub-Category            0
dtype: int64

In [41]:
from datetime import datetime
def format_date(date_str):
    for fmt in ('%m/%d/%y', '%Y-%m-%d %H:%M:%S', '%m/%d/%Y'):
        try:
            date_obj = datetime.strptime(date_str, fmt)
            return date_obj.strftime('%m/%d/%y 0:00')
        except ValueError:
            continue
    raise ValueError(f"Unrecognized date format: {date_str}")

# Apply the function to the 'dates' column
abt['Order Date'] = abt['Order Date'].apply(format_date)

print(abt)

            Country             City     Customer Name        Order ID  \
0     United States        Henderson       Claire Gute  CA-2013-152156
1     United States        Henderson       Claire Gute  CA-2013-152156
2     United States      Los Angeles   Darrin Van Huff  CA-2013-138688
3     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
4     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
...             ...              ...               ...             ...
9989  United States            Miami  Tom Boeckenhauer  CA-2011-110422
9990  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9991  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9992  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9993  United States      Westminster      Chris Cortes  CA-2014-119914

     Postal Code Region Row ID       State Top N Customer Label  \
0      42,420.00  South      1    Kentucky                Other
1      42,420.00  South      2    Kentucky                Other
2      90,036.00   West      3  California                Other
3      33,311.00  South      4     Florida                Other
4      33,311.00  South      5     Florida                Other
...          ...    ...    ...         ...                  ...
9989   33,180.00  South   9990     Florida                Other
9990   92,627.00   West   9991  California                Other
9991   92,627.00   West   9992  California                Other
9992   92,627.00   West   9993  California                Other
9993   92,683.00   West   9994  California                Other

         Order Date  ...            Ship Date       Ship Mode Discount Profit  \
0     09/11/15 0:00  ...  2015-12-11 00:00:00    Second Class     0.00  41.91
1     09/11/15 0:00  ...  2015-12-11 00:00:00    Second Class     0.00 219.58
2     06/13/15 0:00  ...            6/17/2015    Second Class     0.00   6.87
3     11/10/14 0:00  ...           10/18/2014  Standard Class     0.45   0.00
4     11/10/14 0:00  ...           10/18/2014  Standard Class     0.20   2.52
...             ...  ...                  ...             ...      ...    ...
9989  01/21/13 0:00  ...            1/23/2013    Second Class     0.20   4.10
9990  02/27/16 0:00  ...  2016-03-03 00:00:00  Standard Class     0.00  15.63
9991  02/27/16 0:00  ...  2016-03-03 00:00:00  Standard Class     0.20  19.39
9992  02/27/16 0:00  ...  2016-03-03 00:00:00  Standard Class     0.00  13.32
9993  04/05/16 0:00  ...  2016-09-05 00:00:00    Second Class     0.00  72.95

     Profit Ratio Quantity  Sales  \
0            0.16     2.00 261.96
1            0.30     3.00 731.94
2            0.47     2.00  14.62
3            0.00     5.00 957.58
4            0.11     2.00  22.37
...           ...      ...    ...
9989         0.16     3.00  25.25
9990         0.17     2.00  91.96
9991         0.07     2.00 258.58
9992         0.45     4.00  29.60
9993         0.30     2.00 243.16

                                           Product Name    Segment  \
0                     Bush Somerset Collection Bookcase   Consumer
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   Consumer
2     Self-Adhesive Address Labels for Typewriters b...  Corporate
3         Bretford CR4500 Series Slim Rectangular Table   Consumer
4                        Eldon Fold 'N Roll Cart System   Consumer
...                                                 ...        ...
9989                             Ultra Door Pull Handle   Consumer
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   Consumer
9991                              Aastra 57i VoIP phone   Consumer
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   Consumer
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...   Consumer

     Sub-Category
0       Bookcases
1          Chairs
2          Labels
3          Tables
4         Storage
...           ...
9989  Furnishings
9990  Furnishings
9991       Phones
9992        Paper
9993   Appliances

[9994 rows x 21 columns]

In [42]:
abt['Order Date'] = pd.to_datetime(abt['Order Date'], errors='coerce')

# Extract the month
abt['month'] = abt['Order Date'].dt.month

print(abt)

            Country             City     Customer Name        Order ID  \
0     United States        Henderson       Claire Gute  CA-2013-152156
1     United States        Henderson       Claire Gute  CA-2013-152156
2     United States      Los Angeles   Darrin Van Huff  CA-2013-138688
3     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
4     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
...             ...              ...               ...             ...
9989  United States            Miami  Tom Boeckenhauer  CA-2011-110422
9990  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9991  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9992  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9993  United States      Westminster      Chris Cortes  CA-2014-119914

     Postal Code Region Row ID       State Top N Customer Label Order Date  \
0      42,420.00  South      1    Kentucky                Other 2015-09-11
1      42,420.00  South      2    Kentucky                Other 2015-09-11
2      90,036.00   West      3  California                Other 2015-06-13
3      33,311.00  South      4     Florida                Other 2014-11-10
4      33,311.00  South      5     Florida                Other 2014-11-10
...          ...    ...    ...         ...                  ...        ...
9989   33,180.00  South   9990     Florida                Other 2013-01-21
9990   92,627.00   West   9991  California                Other 2016-02-27
9991   92,627.00   West   9992  California                Other 2016-02-27
9992   92,627.00   West   9993  California                Other 2016-02-27
9993   92,683.00   West   9994  California                Other 2016-04-05

      ...       Ship Mode Discount Profit Profit Ratio Quantity  Sales  \
0     ...    Second Class     0.00  41.91         0.16     2.00 261.96
1     ...    Second Class     0.00 219.58         0.30     3.00 731.94
2     ...    Second Class     0.00   6.87         0.47     2.00  14.62
3     ...  Standard Class     0.45   0.00         0.00     5.00 957.58
4     ...  Standard Class     0.20   2.52         0.11     2.00  22.37
...   ...             ...      ...    ...          ...      ...    ...
9989  ...    Second Class     0.20   4.10         0.16     3.00  25.25
9990  ...  Standard Class     0.00  15.63         0.17     2.00  91.96
9991  ...  Standard Class     0.20  19.39         0.07     2.00 258.58
9992  ...  Standard Class     0.00  13.32         0.45     4.00  29.60
9993  ...    Second Class     0.00  72.95         0.30     2.00 243.16

                                           Product Name    Segment  \
0                     Bush Somerset Collection Bookcase   Consumer
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   Consumer
2     Self-Adhesive Address Labels for Typewriters b...  Corporate
3         Bretford CR4500 Series Slim Rectangular Table   Consumer
4                        Eldon Fold 'N Roll Cart System   Consumer
...                                                 ...        ...
9989                             Ultra Door Pull Handle   Consumer
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   Consumer
9991                              Aastra 57i VoIP phone   Consumer
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   Consumer
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...   Consumer

     Sub-Category month
0       Bookcases     9
1          Chairs     9
2          Labels     6
3          Tables    11
4         Storage    11
...           ...   ...
9989  Furnishings     1
9990  Furnishings     2
9991       Phones     2
9992        Paper     2
9993   Appliances     4

[9994 rows x 22 columns]

C:\Users\lenovo\AppData\Local\Temp\ipykernel_9668\3248787322.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  abt['Order Date'] = pd.to_datetime(abt['Order Date'], errors='coerce')

In [43]:
import math
def custom_round(value):
    return math.floor(value * 100) / 100

# Apply the rounding function to the 'Sales' column
abt['Discount'] = abt['Discount'].apply(custom_round)

print(abt)

            Country             City     Customer Name        Order ID  \
0     United States        Henderson       Claire Gute  CA-2013-152156
1     United States        Henderson       Claire Gute  CA-2013-152156
2     United States      Los Angeles   Darrin Van Huff  CA-2013-138688
3     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
4     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
...             ...              ...               ...             ...
9989  United States            Miami  Tom Boeckenhauer  CA-2011-110422
9990  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9991  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9992  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9993  United States      Westminster      Chris Cortes  CA-2014-119914

     Postal Code Region Row ID       State Top N Customer Label Order Date  \
0      42,420.00  South      1    Kentucky                Other 2015-09-11
1      42,420.00  South      2    Kentucky                Other 2015-09-11
2      90,036.00   West      3  California                Other 2015-06-13
3      33,311.00  South      4     Florida                Other 2014-11-10
4      33,311.00  South      5     Florida                Other 2014-11-10
...          ...    ...    ...         ...                  ...        ...
9989   33,180.00  South   9990     Florida                Other 2013-01-21
9990   92,627.00   West   9991  California                Other 2016-02-27
9991   92,627.00   West   9992  California                Other 2016-02-27
9992   92,627.00   West   9993  California                Other 2016-02-27
9993   92,683.00   West   9994  California                Other 2016-04-05

      ...       Ship Mode Discount Profit  Profit Ratio Quantity  Sales  \
0     ...    Second Class     0.00  41.91          0.16     2.00 261.96
1     ...    Second Class     0.00 219.58          0.30     3.00 731.94
2     ...    Second Class     0.00   6.87          0.47     2.00  14.62
3     ...  Standard Class     0.45   0.00          0.00     5.00 957.58
4     ...  Standard Class     0.20   2.52          0.11     2.00  22.37
...   ...             ...      ...    ...           ...      ...    ...
9989  ...    Second Class     0.20   4.10          0.16     3.00  25.25
9990  ...  Standard Class     0.00  15.63          0.17     2.00  91.96
9991  ...  Standard Class     0.20  19.39          0.07     2.00 258.58
9992  ...  Standard Class     0.00  13.32          0.45     4.00  29.60
9993  ...    Second Class     0.00  72.95          0.30     2.00 243.16

                                           Product Name    Segment  \
0                     Bush Somerset Collection Bookcase   Consumer
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   Consumer
2     Self-Adhesive Address Labels for Typewriters b...  Corporate
3         Bretford CR4500 Series Slim Rectangular Table   Consumer
4                        Eldon Fold 'N Roll Cart System   Consumer
...                                                 ...        ...
9989                             Ultra Door Pull Handle   Consumer
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   Consumer
9991                              Aastra 57i VoIP phone   Consumer
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   Consumer
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...   Consumer

     Sub-Category month
0       Bookcases     9
1          Chairs     9
2          Labels     6
3          Tables    11
4         Storage    11
...           ...   ...
9989  Furnishings     1
9990  Furnishings     2
9991       Phones     2
9992        Paper     2
9993   Appliances     4

[9994 rows x 22 columns]

In [44]:
abt['Total Sales'] = abt['Sales'] / (1 - abt['Discount'])

# Calculate Discount Amount
abt['Discount Amount'] = abt['Total Sales'] - abt['Sales']

# Display the updated DataFrame
print(abt)

            Country             City     Customer Name        Order ID  \
0     United States        Henderson       Claire Gute  CA-2013-152156
1     United States        Henderson       Claire Gute  CA-2013-152156
2     United States      Los Angeles   Darrin Van Huff  CA-2013-138688
3     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
4     United States  Fort Lauderdale    Sean O'Donnell  US-2012-108966
...             ...              ...               ...             ...
9989  United States            Miami  Tom Boeckenhauer  CA-2011-110422
9990  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9991  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9992  United States       Costa Mesa       Dave Brooks  CA-2014-121258
9993  United States      Westminster      Chris Cortes  CA-2014-119914

     Postal Code Region Row ID       State Top N Customer Label Order Date  \
0      42,420.00  South      1    Kentucky                Other 2015-09-11
1      42,420.00  South      2    Kentucky                Other 2015-09-11
2      90,036.00   West      3  California                Other 2015-06-13
3      33,311.00  South      4     Florida                Other 2014-11-10
4      33,311.00  South      5     Florida                Other 2014-11-10
...          ...    ...    ...         ...                  ...        ...
9989   33,180.00  South   9990     Florida                Other 2013-01-21
9990   92,627.00   West   9991  California                Other 2016-02-27
9991   92,627.00   West   9992  California                Other 2016-02-27
9992   92,627.00   West   9993  California                Other 2016-02-27
9993   92,683.00   West   9994  California                Other 2016-04-05

      ... Profit Profit Ratio Quantity  Sales  \
0     ...  41.91         0.16     2.00 261.96
1     ... 219.58         0.30     3.00 731.94
2     ...   6.87         0.47     2.00  14.62
3     ...   0.00         0.00     5.00 957.58
4     ...   2.52         0.11     2.00  22.37
...   ...    ...          ...      ...    ...
9989  ...   4.10         0.16     3.00  25.25
9990  ...  15.63         0.17     2.00  91.96
9991  ...  19.39         0.07     2.00 258.58
9992  ...  13.32         0.45     4.00  29.60
9993  ...  72.95         0.30     2.00 243.16

                                           Product Name    Segment  \
0                     Bush Somerset Collection Bookcase   Consumer
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   Consumer
2     Self-Adhesive Address Labels for Typewriters b...  Corporate
3         Bretford CR4500 Series Slim Rectangular Table   Consumer
4                        Eldon Fold 'N Roll Cart System   Consumer
...                                                 ...        ...
9989                             Ultra Door Pull Handle   Consumer
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   Consumer
9991                              Aastra 57i VoIP phone   Consumer
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   Consumer
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...   Consumer

     Sub-Category month Total Sales Discount Amount
0       Bookcases     9      261.96            0.00
1          Chairs     9      731.94            0.00
2          Labels     6       14.62            0.00
3          Tables    11    1,741.05          783.47
4         Storage    11       27.96            5.59
...           ...   ...         ...             ...
9989  Furnishings     1       31.56            6.31
9990  Furnishings     2       91.96            0.00
9991       Phones     2      323.22           64.64
9992        Paper     2       29.60            0.00
9993   Appliances     4      243.16            0.00

[9994 rows x 24 columns]

In [45]:
outfile_name = "../Data/Data/cleaned_data_csv.csv"
abt.to_csv(outfile_name)